<h1><%= @sub.title %></h1>

<section>
  <p><%= @sub.description %></p>
  <!-- Add link to edit sub if owner of sub is user -->
</section>

<section>
  <!-- Unordered list to posts -->
  <!-- Create a post link -->
</section>

<footer>
  <%= link_to "Sub List", subs_url, method: :get %>
</footer>
