<section class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a>CSS</a></li>
      <li><a>HTML</a></li>
      <li><a>Javascript</a></li>
      <li><a>Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="assets/AA_Times_Logo.png" alt="AA times">

  <ul class="masthead-links">
    <li>
      <time>Tuesday, October 18, 2016</time>
    </li>
    <li>
      <i class="fa fa-newspaper-o" aria-hidden="true"></i>
      <a>Today’s Paper</a>
    </li>
    <li>
      <i class="fa fa-video-camera" aria-hidden="true"></i>
      <a>Video</a>
    </li>
    <li><button type="button" name="button">77°F</button></li>
    <li><button type="button" name="button">AAO +100%</button></li>
  </ul>
</section>
