ul {
  width: 456px;
}

li {
  float: left;
  width: 150px;
  height: 150px;

  background-color: grey;
  border: 1px solid black;

  list-style-type: none;
}

li:hover {
  background-color: yellow;
}
