<h1>Login User</h1>

<form action="<%= sessions_url %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

<label for="Username">Username</label>
<input type="text" id="Username" name="user[username]">

<label for="Password">Password</label>
<input type="password" id="Password" name="user[password]">

<input type="submit" value="Sign In">
</form>
