<section class="main-content group">

  <section class="col col-2-3">

    <section class="col col-1-3">
      <h1 id="main-title">Launching the New React/Redux Curriculum</h1>
      <div class="author">By APP ACADEMY INSTRUCTIONAL TEAM</div>
      <ul>
        <li>
          It helps you write applications that behave consistently, run in different environments (client, server, and native), and are easy to test. On top of that, it provides a great developer experience, such as live code editing combined with a time traveling debugger.
        </li>
        <li>
          The whole state of your app is stored in an object tree inside a single store.
          The only way to change the state tree is to emit an action, an object describing what happened. To specify how the actions transform the state tree, you write pure reducers.
        </li>
      </ul>

      <a class="comment-link">1738 Comments</a>
    </section>

    <section class="col col-2-3">
      <div class="middle-frame">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ARe9FupzuOA" frameborder="0" allowfullscreen></iframe>
        <p>Warning: This video will make you want to change your career</p>
      </div>

      <div class="middle-frame">
        <h1>Where Are They Now?</h1>
        <div class="author">By APP ACADEMY ALUMNI</div>
        <p>First hand stories from App Academy graduates about transitioning to engineering positions at top tech companies in San Francisco.</p>
      </div>

      <div class="middle-frame">
        <h1>Cat Academy</h1>
        <div class="author">By APP ACADEMY DIRECTOR OF PRODUCTS</div>
        <p>App Academy's latest product targets those interested in owning the popular feline companion by providing a curated cat care curriculum.</p>
      </div>
    </section>
  </section>

  <section class="col col-1-3 group">
    <h1 id="opinion-pages">The Opinion Pages</h1>

    <section class="col col-1-2">
      <h2>Op-Ed Contributor</h2>
      <h1>Will Javascript ever be as easy as Ruby?</h1>
      <p>Javscript continues to advance with the newly released EcmaScript7 but it still doesn't quite read like Ruby.</p>
      <ul>
        <li>Torvalds: When I Was Almost Wrong</li>
        <li>Knuth: Art of Programming</li>
        <li>Lovelace: The First Algorithm</li>
        <li>Hopper: The First Bug</li>
        <li>Thompson: Go C Unix</li>
        <li>Carmack: My Virtual Reality</li>
        <li>Stallman: Free Speech Not Free Coffee</li>
      </ul>
    </section>

    <section class="col col-1-2">
      <h2>Operations</h2>
      <h1>App Academy New York Has A Brand New Office</h1>
      <div class="author">By NY OPERATIONS</div>

      <p>The new space features hardwood floors and brick walls for a modern technology space with an aura for learning.</p>
      <div class="thumbnail">
        <img src="assets/new_office" alt="">
      </div>

      <h1>Opinion Today, in your Inbox</h1>
      <p>Each weekday, get though-provoking commentary from our columnists and contributors.</p>

    </section>

  </section>

  <section class="col col-1-3">
    <div class="sign-up group">
      <input type="text" id="opinion-input" value="Get the Opinion newsletter by email">
      <button>Sign Up</button>
    </div>

    <h6>We'll also send offers to join the App Academy Bootcamp. You can never unsubscribe.</h6>
  </section>

</section>
