.sections-nav {
  padding: 10px 0px;
  display: flex;
	flex-direction: column;
	align-items: center;
  border-bottom: 1px solid $light-gray;
}

.sections-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sections-links li {
  margin: 0px 10px;
}

.sections-links a:hover {
  background-color: $light-gray;
  border-radius: 2px;
}

.sections-links #All:hover {
  background-color: transparent;
  text-decoration: underline;
}
