<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome back!</title>
  </head>

  <body>
    <%= @user.email %>
    <%= button_to "Log out", sessions_url, method: :delete %>
  </body>
</html>
