<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CHANGE CAT!</title>
  </head>

  <body>
    <h1> Edit a cat!! </h1>
    <%= render 'form', action: :edit, cat: @cat %>
  </body>
</html>
