<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NEW CAT!</title>
  </head>

  <body>
    <h1> Add a cat!! </h1>
    <%= render 'form', action: :new, cat: @cat %>
  </body>
</html>
