<!DOCTYPE html>
<html>
  <body>
    <form action="<%= notes_url %>" method="post">
      <%= auth_token %>
      <label for="note">New Note</label><br>
      <textarea id="note" name="note[body]"></textarea><br>

      <input type="hidden" name="note[track_id]" value="<%= track.id %>">
      <input type="submit" value="Create note!">
    </form>
  </body>
</html>
